{{ define "base.html" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - VERP</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script> 
    <link rel="stylesheet" href="/static/css/styles.css?v=2">
    <link rel="stylesheet" href="/static/css/dark-theme.css?v=2">
    </head>
<body class="dark-theme">
    {{ template "sidebar" . }}
    
    <div class="main-content">
        {{template "content" .}}
    </div>
    
    <div id="modal" class="modal">
        <div class="modal-content">
            <button class="modal-close" onclick="VendERP.hideModal()">×</button>
            <div id="modal-body"></div>
        </div>
    </div>

    <script src="/static/js/app.js"></script>
</body>
</html>
{{ end }}